.modal-background{
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}



.sign-in{
    margin-top: 10px;
    color:black;
    position: absolute;
    z-index: 1000;
    min-width: 300px;
    top:50%;
    left: 50%;
    width: 30%;
    height: auto;
    margin-left: -250px;
    background-color: white;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #666;
}

.sign-in-box{
    display: block;
}

.sign-in hr{
    width: 100%;
    border: lightgray 1px solid;
    align-self: flex-start;
    margin-bottom: 21px;
    margin-top: 10px;
}


.sign-in h2{
    font-weight: 600;
    line-height: 0px;
    align-self: flex-start;
    
}

.sign-in input{
    height: 45px;
    width: 90%;
    padding: 2px;
    margin: 15px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
    border: lightgray solid 1px;
}

.sign-in input:focus{
    box-shadow: 1px 1px 2px #FF7C52;
    outline: none;
}

.sign-in label{
    font-size: 18px;
    font-weight: 400;
    margin-left: 18px;
}

.sign-in form{
 width: 100%;
 justify-self: center;
}



.form-button{
    font-size: 18px;
    margin-top: 20px;
    height: 50px;
    width: 95%;
    background-color: #333;
    margin-left: 14px;
    color: white;
    outline: #FF7C52;
}

.form-button:hover{
    color: #FF7C52;
    outline: #FF7C52;
    cursor: pointer;
}

.sign-in div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
}
.sign-in a{
    color: #FF7C52;
    margin-left: 16px;

}

.hide-sign-in{
    display: none;
}

::placeholder{
    color: #666;
    opacity: 0.7;
}

.close {
  color: #aaa;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  justify-self: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

