.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(228, 226, 226);

}

.greeting-nav{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.greeting-nav a{
    display: inline-block;
    color: #333;
    /* margin: 5px 10px 5px 10px; */
    padding: 9px 15px;
    text-decoration: none;

}

#nav-button{
    background-color: #333;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    
}

.main-nav p{
    margin-right: 20px;
}
#logo{
    display:flex;
    margin-top: 26px;
}

#logo h1{
    display: inline-block;
    margin-left:10px;
    font-size: 34px;
    font-weight: 600;
    color: black;
    margin-top:0px;
}


#logo p{
    font-weight: 600;
    font-size: 16px;
}


