.main-nav{
    background-color: white;
 
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    /* color: #fff; */
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 12px;
    /* border-bottom: 2px solid rgb(228, 226, 226); */
}

.main-nav:hover {
    background-color:#FF7C52;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    color: #333;
}

.main-nav a{
    text-decoration: none;
    color: #333;
}

.greeting-nav{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.greeting-nav a{
    display: inline-block;
    color: #333;
    /* margin: 5px 10px 5px 10px; */
    padding: 9px 15px;
    text-decoration: none;

}

#nav-button{
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    
}

.main-nav p{
    margin-right: 20px;
    font-size: 14px;
}
#logo{
    display:flex;
    
}



#logo p{
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
    margin-right: 3px;
    font-weight: 400;
}

#logout-button{
    background-color: #333;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    padding: 9px;
    width: 76px;
    height: 35px;
    margin-top: 4px;
    font-weight: 600;
}

#c{
    display: inline-block;
    margin-left:10px;
    font-size: 34px;
    font-weight: 300;
    color: black;
    margin-top:0px;
}

p#table{
    font-weight: 600;
    margin-left: 0;
}



