.show-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.placeholder{
    height: 2000px;
}

.content-box{
    position: absolute;
    width: 600px;
    z-index: 2;
    height: fit-content;
    background-color: #fff;
    top: 318px;
    left: 12%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 
                0 5px 10px rgba(0, 0, 0, 0.24);
    font-family: 'Open Sans', sans-serif;
}

.show-nav{
    margin-left: 5%;
    font-size: 16px;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    border-bottom: 1px solid rgba(104, 103, 103, 0.3);
}

.show-nav a{
    font-weight: 600;
    margin:15px 20px;
    margin-left: 0;
    
}

.content-box h1{
    height: 96px;
    font-size: 46px;
    vertical-align: middle;
    margin-left: 5%;
    width: 90%;
    margin-bottom: auto;
    border-bottom: 1px solid rgba(104, 103, 103, 0.3);
}

.rating .info-span{
    margin-left: 10px;
    vertical-align: middle;
    font-weight: 600;
}

.rating #star{
    margin-left: 5%;
}

.overview{
    margin: 5%;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2%;
}

.menu{
    margin-left: 5%;
    vertical-align: middle;
    
}

.menu h2, .review h2{
    border-bottom: 1px solid rgba(104, 103, 103, 0.3);
    padding-bottom: 5px;

}

.menu a{
    color: #333;
}

.menu a:hover{
    font-weight: 600;
    color:#FF7C52;
}

.review{
    margin: 5%;
    vertical-align: middle;

}
.user-profile{
    font-weight: 600;
}

.user-profile .pic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FF7C52;
    
    background-color: rgba(230, 230, 230, 0.8);
}

.review-item{
    display: flex;
    border-bottom: 1px solid rgba(104, 103, 103, 0.3);
    padding-bottom: 20px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-content{
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
}

#title{
    font-weight: 600;
    font-size: 16px;
}