.restaurant-index{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    
}

.restaurant{
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px;
    min-height: 200px;
    line-height: 16px;
    display: flex;
    background-color: #fff;
    margin: 0 20px 30px 0;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 
                0 5px 10px rgba(0, 0, 0, 0.24);
}

.restaurant .img{
            border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 
                0 5px 10px rgba(0, 0, 0, 0.24);
}

.time-slots{
    display: flex;
    flex-wrap: wrap;
}

.time-slots div{
   background-color:transparent; 
   /* background-color: #7DBBB9;  */
    width: 100px;
    /* border: 1px solid #FF7C52; */
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    border-radius: 5px;
    font-weight: 600;
    margin: 20px 8px 0 0;
    padding-top: 3px;
    color: #fff;
    transition: transform .2s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 
                0 2px 5px rgba(0, 0, 0, 0.24);
}

.time-slots div:hover, time-slots div button:hover{
    transform: scale(1.05);
    background-color: #FF7C52;
    /* background-color: #C5D7D9; */
    color: #666;
}

.time-slots div button {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.restaurant-index a, .restaurant a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.restaurant #res-name{
    margin-left: -5px;
    font-size: 21px;
    background-color: transparent;
    border: none;
    outline: none;
}

.restaurant-info{
    padding-top: 20px;
}
.restaurant-info span {
    margin-right: 10px;
    font-size: 14px;
}

.res-search{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.rating{
    display: flex;
    align-items: center;
}

.rating p {
    margin-right: 10px;
}